<div class="fr-field-state-write-wrapper" ng-show="field.state.editMode">
    <input
        ng-model="ngModel"
        ng-class="{
            'invalid': field.validation.error.length > 0,
            'valid': field.validation.error.length === 0
        }"
        fr-validation
        data-validation="field.validation"
        id="{{ field.attrs.id }}"
        name="{{ field.attrs.name }}"
        class="field full"
        type="text"
        placeholder="{{ field.attrs.placeholder }}" />
</div>
<div class="fr-field-state-read-wrapper">
    <p class="fr-p" ng-if="!field.state.editMode">{{ngModelInit}} <span ng-if="field.to.unit" ng-bind-html="field.to.unit | unsafe"></span></p>
</div>
